$primary:#111E6C;
.text-primary{
    color:$primary !important;
}
.text-muted{
    color:#616161 !important
}
.text-sm{
    font-size: .75rem;
}
body{
    margin: 0;
    font-size: .85rem;
    color: #18252e;
    font-family: "Roboto", sans-serif;

}
.wrapper {
    width: 650px;
    margin: 0 auto;
}
.logo{
    width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 20px 0;
}
.intro{
    font-weight: bold;
    margin: 1.3rem 0;
    font-size: 2rem;
}
.username-label{
        // font-size: 15px;
        font-weight: 600;
        letter-spacing: 1.2px;
        display: inline;
        color: #616161;
    
}
.form-control{
    height: 40px;
    font-size: .75rem;
    font-weight: 300;
    border-radius: 0;
}
.input-label{
    color: #18252e;
    font-size: 18px;
    font-weight: 600;
}
.btn-lg{
    width: 100%;
}
.btn-start{
    background-color: lighten($primary, 5%);
    color:white;
    &:hover,
    &:focus{
        color:white;
        background-color: $primary;
    }
}


// game-box
.game-box{
    background-color: lighten($primary,70%);
    padding: 15px 15px 5px 15px;
    // width: 252px;
    margin: 0px;
    // height: 264px;
    display: flex;
    flex-direction: column;
}
.row-words{
    // width: 300px;
    // display: block;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;

}
.btn-word{
    border-radius: 5px;
    float: left;
    // margin-right: 10px;
  margin-bottom: .5rem;
    // -webkit-transition: background 0.5s;
    // transition: background 0.5s;
    outline: none;
    text-transform: uppercase;
&:hover{
    background-color: lighten($primary, 40%);
}
&:focus{
    box-shadow: none;
    outline: none;
   
}
}

.btn:focus{
    outline: 0;
    box-shadow: none;
}


.board-four>button{
    width: 55px; 
    height: 55px;
    flex-basis: 22%;
}

.word{
    background: #fff;
    border: solid 1px #757575;
    box-shadow: 2px 2px 5px rgba(255, 204, 128, 0.25);
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #18252e;
    // width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.word-selected {
    background: $primary;
    border: solid 1px $primary;
    box-shadow: inset 2px 2px 5px rgba($primary, .7);
   
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}
.text-md{
    font-size: 14px;
    
}


.score-box{
    border-radius: 5px;
    border: solid 1px #EEEEEE;
    padding: 20px;
}
    .word-list {
        width: 100%;
        height: 136px;
        overflow-y: auto;
        list-style: none;
        padding-left: .25rem;
        li{
            margin-bottom: .25rem;
            display: flex;
            justify-content: space-between;
            font-size: .75rem;
            text-transform: uppercase;
        }
    }
    .player-name{
        color: $primary;
        text-align: right;
        font-size: .85rem;
        font-weight: 900;
        margin-bottom: .5rem;
    }
    .total-score {
        border-top: 1px solid #E0E0E0;
        padding-top: 25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .text-red{
        color: red;
    }
 
    